.trendingListHeader {
  font-weight: bold;
  font-family: var(--font-family);
  background-color: var(--trending-el-hover-bg);
}

.noResults {
  font-weight: bold;
  padding: 1rem;
  color: gray;
  font-size: 1.3rem;
}
