.searchTip{
    display: flex;
    color: var(--placeholder);
    margin-top: 20px;
    margin-left: 2rem;
    max-width: 260px;
}

.icon{

    margin-top: 8px;
    margin-right: 8px;
    color: #000;
}

@media (min-width: 320px) {
    
    .searchTip{
        display: none;
    }
    
}

@media (min-width: 1024px) {
    .searchTip{
        display: flex;
    }
}
